@page "/login"
@using OSKManager.Web.Services
@using OSKManager.Model.AuthenticationModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using OSKManager.Web.Pages.AdministratorPages
@using OSKManager.Web.Pages.ClientPages
@using OSKManager.Web.Pages.InstructorPages

@inject IAuthService AuthService
@inject NavigationManager NavigationManager


@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Adres Email</label>
        <InputText Id="email" Class="form-control" @bind-Value="loginModel.Email" />
        <ValidationMessage For="@(() => loginModel.Email)" />
    </div>
    <div class="form-group">
        <label for="password">Hasło</label>
        <InputText Id="password" type="password" Class="form-control" @bind-Value="loginModel.Password" />
        <ValidationMessage For="@(() => loginModel.Password)" />
    </div>
    <button type="submit" class="form-control col-6 btn btn-primary">Logowanie</button>
</EditForm>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private LoginModel loginModel = new LoginModel();
    private bool ShowErrors;
    private string Error = "";

    private async Task HandleLogin()
    {
        ShowErrors = false;

        var result = await AuthService.Login(loginModel);
        
        if (result.Successful)
        {
            var authState = await authenticationStateTask;
            var user = authState.User;

            if (user.HasClaim(ClaimTypes. Role, "Administrator"))
                NavigationManager.NavigateTo(nameof(AdminPanel));

            if (user.HasClaim(ClaimTypes.Role, "Student"))
                NavigationManager.NavigateTo(nameof(ClientPanel));

            if (user.HasClaim(ClaimTypes.Role, "Instructor"))

                NavigationManager.NavigateTo(nameof(InstructorPanel));
        }
        else
        {
            Error = result.Error;
            ShowErrors = true;
        }
    }
}