@layout HomepageLayout
@page "/"

    <div class="container bg-light rounded shadow my-3">

        <div class="row h-50 align-items-center">
            <div class="col-4 font-italic font-weight-bold pt-4"> </div>
            <div class="col-3 text-left pt-4"></div>
            <div class="col-2 pt-4 text-center">
                
            </div> 
            <div class="col-3  pt-4 text-center banner4k ">
               
            </div>
        
        </div>
    
    </div>
