@layout HomepageLayout
@page "/"

    <div class="container bg-light rounded shadow my-3">

        <div class="row h-50 align-items-center">
            <div class="col-4 font-italic font-weight-bold pt-4"><h1 class="mb-0">OSK MANAGER</h1> </div>
            <div class="col-3 text-left pt-4">Zadzwoń <br /> <h2><font color="ff0000"> +48 123 456 789</font> </h2></div>
            <div class="col-2 pt-4 text-center">
                Obesrwuj nas <br />
                <a href="https://www.facebook.com/"><img src="https://facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png?w=512&h=512" alt="FB" height="30px" width="30px" style="margin-left:10px" /> </a>
                <a href="https://www.instagram.com/"><img src="https://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" alt="IG" height="30px" width="30px" style="margin-left:10px" /> </a>
                <a href="https://mail.google.com/"><img src="https://pngimage.net/wp-content/uploads/2018/06/ikon-gmail-png-6.png" alt="G" height="30px" width="30px" style="margin-left:10px" /></a>


            </div> 
            <div class="col-3  pt-4 text-center banner4k ">
               
            </div>
        
        </div>
    
    </div>
