@layout HomepageLayout
@page "/"

    <div class="container bg-light rounded shadow my-3">

        <div class="row align-items-center first-row">
            <div class="col-4 font-italic font-weight-bold pt-4"><h1 class="mb-0 header header-h1">OSK MANAGER</h1> </div>
            <div class="col-3 text-left pt-4">Zadzwoń <br /> <h2 class="header header--h2"> +48 123 456 789 </h2></div>
            <div class="col-2 pt-4 text-center">
                Obserwuj nas <br />
                <a href="https://www.facebook.com/"><img src="https://facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png?w=512&h=512" class="first-row-media-icons" alt="FB"/> </a>
                <a href="https://www.instagram.com/"><img src="https://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" alt="IG" class="first-row-media-icons"/> </a>
                <a href="https://mail.google.com/"><img src="https://pngimage.net/wp-content/uploads/2018/06/ikon-gmail-png-6.png" alt="G" class="first-row-media-icons" /></a>
            </div>
            <div class="col-3  pt-4 text-center banner4k ">
                <a href="/login"><h4><font color="green"><b>Zaloguj się</b></font> <br /></h4></a>
                <span class="divider">lub</span>
                <a href="/registration"><h5><font color="blue">Zarejestruj</font></h5> </a>
            </div>
        </div>
        <div class="row align-items-center second-row bg-dark">
            <section id="second-row-menu" class="second-row-menu">
                <nav>
                    <ul>
                        <li><a class="second-row-menu" href="#">Start</a></li>
                        <li><a class="second-row-menu" href="#">Galeria</a></li>
                        <li><a class="second-row-menu" href="#">Kontakt</a></li>
                        <li><a class="second-row-menu" href="#">Cennik</a></li>
                        <li><a class="second-row-menu" href="#">Zadaj pytanie</a></li>
                    </ul>
                </nav>
            </section>

        </div>
        <div class="row align-items-center">
            <section id="third-row-show" class="third-row-show">
                <div class="third-row-show-image ">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="third-row-show-image d-block w-100" src="https://d-pt.ppstatic.pl/kadry/k/r/1/64/e1/55ee7e743cf92_o,size,640x400,q,71,h,be1178.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class=" third-row-show-image d-block w-100" src="https://d-mf.ppstatic.pl/art/9v/qn/jdyhohs0k0w8c0kk4ooco/rze200113kk_008-1.1200.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class=" third-row-show-image d-block w-100" src="https://kutno.net.pl/img/thumbs/crop/w770h428q90/photos/99dc8858f4cfbac95f2b.jpeg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </section>

        </div>
        <div class=" row align-items-center fourth-row">
            <div class="col-md-2 fourth-row-first-column">
                <img class="fourth-row-image" src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.0-1/44247805_1727577624015287_2122188987866021888_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_ohc=aremjjOJIMYAX_NWtOS&_nc_ht=scontent.fktw1-1.fna&oh=8736baffb526dd1a5925ba60e28d7689&oe=5EEE1FDD" alt="Tu powinno być zdjęcie" />

            </div>
            <div class="col-md-10">Zdałem test w samochodzie Konrada po trzech testach wstępnych. Prowizorycznie jeździłem od prawie czterech lat, więc rozwinąłem sporo złych nawyków. Zwiedził mnie całym procesem i tego dnia czułem się bardzo pewny siebie. ”Brona Keogh - Dun Laoghaire, Dublin</div>

        </div>
        <div class=" row align-items-center fifth-row">
            <div class="col-md-7">
                <h4><b>Zdaj egzamin, dzięki naszej szkole jazdy!</b></h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim tempus leo,
                vel laoreet massa congue at. Nullam dignissim ullamcorper quam, a condimentum nunc elementum eget.
                Vestibulum mauris nisi, facilisis ac molestie in, mattis a arcu. Cras aliquam suscipit nisi. Pellentesque
                vitae aliquam purus, ac consectetur ante.Praesent quis dictum libero. Aliquam non facilisis odio, aliquet
                pulvinar augue. Sed at hendrerit metus. Phasellus pellentesque sollicitudin dignissim. Fusce sollicitudin
                congue dapibus. Nunc egestas sit amet dolor eget gravida. Vestibulum convallis interdum turpis, vel sagittis
                sem tempus et.
            </div>
            <div class="col-md-5 pt-2">
                <img class="fifth-row-image" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_632/2a4c1c96078793.5ea6892e2e29b.jpg" alt="Tu powinno być zdjęcie xD" />
            </div>
        </div>
        <div class="row align-items-center fifth-row pt-2 ml-2 pb-2">
            <h4><b>Co kursanci cenią w nas najbadziej?</b></h4>
        </div>

        <div class="row align-items-center sixth-row pt-2 ">
            <div class="col-md-4"><img class="icone" src="/image/funny.svg" />Super atmosfera</div>
            <div class="col-md-4"><img class="icone" src="/image/rules.svg" />Poznanie wszystkich przepisów</div>
            <div class="col-md-4"><img class="icone" src="/image/exam.svg" />Przygotowanie do egzaminu</div>
        </div>
        <div class="row align-items-center sixth-row pt-2 pb-2 ">
            <div class="col-md-4"><img class="icone" src="/image/pen.svg" />Szczegółowe podejście do sprawy</div>
            <div class="col-md-4"><img class="icone" src="/image/slip.svg" />Szkolenie poślizgowe</div>
            <div class="col-md-4"><img class="icone" src="/image/clock.svg" />Podwózka pod egzamin</div>
        </div>

       
        <div class="row align-items-center">
            <div class="columnss col-md-3">
                <ul class="price">
                    <li class="header">Kategoria A</li>
                    <li class="grey">1500 zł</li>
                    <li>30 h jazd</li>
                    <li>20 h wykładów</li>
                    <li>Podwózka pod egzamin</li>

                    
                </ul>
            </div>

            <div class="columnss col-md-3">
                <ul class="price">
                    <li class="header" style="background-color:#4CAF50">Kategoria B</li>
                    <li class="grey">1700 zł</li>
                    <li>30 h jazd</li>
                    <li>30 h wykładów</li>
                    <li>Podwózka pod egzamin</li>

                    
                </ul>
            </div>

            <div class="columnss col-md-3">
                <ul class="price">
                    <li class="header" style="background-color:#4CAF50">Kategoria C</li>
                    <li class="grey">2600 zł</li>
                    <li>30 h jazd</li>
                    <li>20 h wykładów</li>
                    <li>Podwózka pod egzamin</li>

                    
                </ul>
            </div>
            <div class="columnss col-md-3">
                <ul class="price">
                    <li class="header">Kategoria D</li>
                    <li class="grey">4800 zł</li>
                    <li>60 h jazd</li>
                    <li>20 h wykładów</li>
                    <li>Podwózka pod egzamin</li>

                   
                </ul>
            </div>
        </div>

        <div class="row footer bg-dark pt-md-4">
            <div class="col-md-2 footer footer-first-column ">
                <h6>Menu strony</h6>
                <br />

                <ul footer-first-column-list>
                    <li>Start</li>
                    <li>Galeria</li>
                    <li>Kontakt</li>
                    <li>Cena</li>
                    <li>Cena</li>
                </ul>

            </div>
            <div class="col-md-3 footer footer-second-column">
                <h6>Social media</h6>
                <img class="footer-icon" src="/image/facebook_footer.svg" />
                <img class="footer-icon" src="/image/instagram_footer.svg" />
                <img class="footer-icon" src="/image/twitter_footer.svg" />
            </div>
            <div class="col-md-3 footer footer-third-column ">
                <h2>OSKuK</h2><br />

                Ośrodek szkolenia kierowców<br />
                u Konrada <br /><br />
                Bielsko-Biała<br />
                ul. Wesoła 20

            </div>
            <div class="col-md-3 footer footer-firth-column">
                Mapa <br />
                <iframe class="footer-firth-column-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1531.7768919998837!2d19.058591664124542!3d49.783593957167874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47169fc0a7862b97%3A0xab58f9e2cef89ecf!2sAkademia%20Techniczno-Humanistyczna!5e0!3m2!1spl!2spl!4v1590872088542!5m2!1spl!2spl" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


            </div>
        </div>
    </div>