@layout HomepageLayout
@page "/"

    <div class="container bg-light rounded shadow my-3">

        <div class="row align-items-center">
            <div class="col-4 font-italic font-weight-bold pt-4"><h1 class="mb-0 header header-h1">OSK MANAGER</h1> </div>
            <div class="col-3 text-left pt-4">Zadzwoń <br /> <h2 class="header header--h2"> +48 123 456 789 </h2></div>
            <div class="col-2 pt-4 text-center">
                Obesrwuj nas <br />
                <a href="https://www.facebook.com/"><img src="https://facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png?w=512&h=512" alt="FB" height="30px" width="30px" style="margin-left:10px" /> </a>
                <a href="https://www.instagram.com/"><img src="https://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" alt="IG" height="30px" width="30px" style="margin-left:10px" /> </a>
                <a href="https://mail.google.com/"><img src="https://pngimage.net/wp-content/uploads/2018/06/ikon-gmail-png-6.png" alt="G" height="30px" width="30px" style="margin-left:10px" /></a>
            </div>
            <div class="col-3  pt-4 text-center banner4k ">
                <a href="/login"><h4><font color="green"><b>Zaloguj się</b></font> <br /></h4></a>
                <span class="divider">lub</span>
                <a href="/registration"><h5><font color="blue">Zarejestruj</font></h5> </a>
            </div>
        </div>
        <div class="row align-items-center second-row bg-dark">
            <section id="second-row-menu" class="second-row-menu">
                <nav>
                    <ul>
                        <li><a class="second-row-menu" href="#">Start</a></li>
                        <li><a class="second-row-menu" href="#">Galeria</a></li>
                        <li><a class="second-row-menu" href="#">Kontakt</a></li>
                        <li><a class="second-row-menu" href="#">Cennik</a></li>
                        <li><a class="second-row-menu" href="#">Zadaj pytanie</a></li>
                    </ul>
                </nav>
            </section>

        </div>
        <div class="row align-items-center">
            <section id="third-row-show" class="third-row-show">
                <div class="third-row-show-image ">
                    <img class="third-row-show-image" src="https://www.auto-zastepcze.eu/media/k2/items/cache/af2ef6a0e2c9c528b09655df79f3b312_XL.jpg" alt="Zdjęcie banerowe" />

                </div>
            </section>

        </div>
        <div class=" row align-items-center fourth-row">
            <div class="col-md-2 fourth-row-first-column">
                <img class="fourth-row-image" src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.0-1/44247805_1727577624015287_2122188987866021888_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_ohc=aremjjOJIMYAX_NWtOS&_nc_ht=scontent.fktw1-1.fna&oh=8736baffb526dd1a5925ba60e28d7689&oe=5EEE1FDD" alt="Tu powinno być zdjęcie" />

            </div>
            <div class="col-md-10">Zdałem test w samochodzie Konrada po trzech testach wstępnych. Prowizorycznie jeździłem od prawie czterech lat, więc rozwinąłem sporo złych nawyków. Zwiedził mnie całym procesem i tego dnia czułem się bardzo pewny siebie. ”Brona Keogh - Dun Laoghaire, Dublin</div>

        </div>

    </div>