@inherits AddCourseDisplayBase

<div class=" card m-5">
    <div class=" card-header" @onclick="CourseDetails">
        <img class=" card-img-top imageThuumbnail" src="/Images/curseIcon.png" @onclick="CourseDetails">
         <center> Kategoria: @ShortCategory</center>
        <br />
        <h6>
            <center><button type="submit" class="form-control col-12 btn btn-primary" @onclick="CourseDetails">Szczegóły</button><br /></center>
            @lectureText<br />
            @driveText<br />
            @priceText
        <NavLink class="nav-link" href="addCourse">
            <center><button type="submit" class="form-control col-6 btn btn-primary" @onclick="SingUpCourse">Zapisz się</button></center>
        </NavLink>
        
        </h6>

        </div>
      
</div>
