@inherits LayoutComponentBase

<AuthorizeView Roles="Instructor">

    <Authorized>
        @Body
    </Authorized>
    <NotAuthorized>
        <a href="Login">Logowanie</a>
    </NotAuthorized>
</AuthorizeView>
