@inherits LayoutComponentBase
@attribute [Authorize(Roles = "Instructor")]

<div class="sidebar">
    <AdminMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
