@inherits LayoutComponentBase

<div class="container bg-light rounded shadow my-3">
    <div>
        <br /><br /><br /><br /><br />
    </div>
    <div>
        <h3 style="font-weight:bold; color:purple">OSK MANAGER Login</h3>
    </div>
    <div>
        <br />
    </div>

    <div class="card">
        <div class="card-body">
            @Body
        </div>
    </div>

    <div class="col-12 row" style="text-align:left; font-weight:bold">
        <span class="col-12">@*@LoginMesssage*@</span>
        <a href="/"> Powrót do strony startowej </a>
    </div>
</div>