@page  "/clientSinUp"
@inherits SingUpCursBase
@using Microsoft.EntityFrameworkCore
@using OSKManager.Model


@if (CategoryList == null)
{

}
else
{
    <div class="container">
        <div class=" row">
            @foreach (var item in CategoryList)
            {
                <div class=" col-4">
                    <AddCourseDisplay Category="item"></AddCourseDisplay>
                </div>
            }
        </div>

    </div>

}


